.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  padding: 20px;
}

.logo_style {
  max-width: 285px;
  min-width: 200px;
}

.selectL {
    background: lightgray !important;
    border-radius: 34px 0px 0px 34px !important;
}

.selectR {
  background: lightgray !important;
  border-radius: 0px 34px 34px 0px !important;
}

.container-top {
  border-top: 1px solid lightgrey;
}

.button {
  background: rgb(37 93 87) !important;
  color: white !important;
  font-weight: bold;
}

.textbox {
  border-radius: 2px;
  border: 1px solid;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
